.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr 2fr);
  background-color: rgb(109, 0, 0);
  padding: 5px;
  gap: 3px;
}
.container div {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 3px;
  font-size: 30px;
  text-align: center;
}