.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(109, 0, 0);
  padding: px;
  gap: 1px;
}
.container div {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 3px;
  font-size: 30px;
  text-align: center;
}