.container {
  display: flex;
  flex-wrap: wrap;
  background-color: Gray;
}

.container div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 100px;
  padding: 100px;
  text-align: center;  
  font-size: 30px;

}

