body {
  background-color: rgb(255, 201, 75);
  text-align: center;
}

.Title{
    color:blue;
}

.Paragraph{
    color:white;
}

h1 {
  color: hsl(235, 100%, 50%);
  margin-left: 0px;
}